// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
        "farve": $cyan-400,
        "blå": #77B5AE,
        "creme": #EFE5DA,
        "grå": #2D2D2D,
        "lysgrå": #575656,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


// 5. Du kan lave styling her...

body {
  font-family: 'Inter', sans-serif;
}


.logo {
  width: 80px;
}

.page1 {
  font-weight: bold;

}

.navbar {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
}


.body-content {
  padding-top: 70px;
}


.str img, .iph img {
  width: 100%;
  height: auto;
}




@media only screen and (min-width: 1020px) {


  .logo {
    width: 100px;
  }



}
